SECRET_KEY=replace-with-a-long-random-secret
SECURE_SSL_REDIRECT=False
ALLOWED_HOSTS=localhost,127.0.0.1
DEBUG=False

DB_ENGINE=django.db.backends.postgresql
DB_NAME=mebel_akmalovich_db
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=127.0.0.1
DB_PORT=5432