[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
waitress = "*"
python-dotenv = "*"
psycopg = {extras = ["binary"], version = "*"}
openpyxl = "*"
python-decouple = "*"
django = "==4.2"
django-import-export = "==3.3.9"
whitenoise = "*"

[dev-packages]

[requires]
python_version = "3.13"
